[submodule "libarea"]
	path = libarea
	url = https://github.com/mtlott/libarea.git
[submodule "heekscad"]
	path = heekscad
	url = https://github.com/mtlott/heekscad.git
[submodule "heekscnc"]
	path = heekscnc
	url = https://github.com/mtlott/heekscnc.git
[submodule "upstream/heekscad"]
	path = upstream/heekscad
	url = https://github.com/Heeks/heekscad.git
[submodule "upstream/heekscnc"]
	path = upstream/heekscnc
	url = https://github.com/Heeks/heekscnc.git
[submodule "upstream/libarea"]
	path = upstream/libarea
	url = https://github.com/Heeks/libarea.git
